.Field {
  display: flex;
  align-items: center;
  margin: 1em;
}

.Checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Expandy__head {
  padding: 0.75em;
}

.Expandy__arrow {
  margin-left: 0.25em;
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
}

body .SettingsSubmit {
  margin: 3em 1em;
  border: 0;
  background-color: #3c7aae;
  color: #fff;
  padding: 0.5em 2em;
}
